version: '3.8'

services:
  migrate:
    build:
      context: .
    # image: sergeipopov/hw34
    command: ./todolist/manage.py migrate
    volumes:
      - .:/home/app/
    # tty: true
    depends_on:
      pg:
        condition: service_healthy

  api:
    build:
      context: .
    # image: sergeipopov/hw34
    command: ./todolist/manage.py runserver 0.0.0.0:8000
    tty: true
    ports: 
      - "8000:8000"
    volumes:
      - .:/home/app/
    depends_on:
      - pg
      - migrate

  pg:
    platform: linux/x86_64
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: qazxswedc123
      POSTGRES_DB: postgres
      POSTGRES_HOST: pg
    restart: always
    ports:
    - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  frontend:
    platform: linux/x86_64
    image: sermalenk/skypro-front:lesson-37
    ports:
      - "3000:80"
    # volumes:
    #   - frontend:/app/build
    depends_on:
      - pg
      - api

volumes:
  postgres_data:

  
